singularity.autoMounts = true

manifest {
	name = 'NZ FOG'
	author = 'Guillermo A.R. Piccoli'
	homePage = 'https://www.epicsolutions.cl'
	description = 'Pipeline for NZ Flat Oyster Genetic Analises'
	version = '1.0.0'
}

executor{
    jobName = { "$task.tag" }
}

params {
    projectName = "fog"
	wdir = "/nfs/scratch/rodriggu"
    isoseq = "${params.wdir}/isoseq"
    outdir = "${params.wdir}/output"
}

process {

}

profiles {
    standard {
		process.executor = 'slurm'
		process.queue = 'parallel'
        process {
			withLabel: fastqc {
        		container = 'shub://kiwiepic/FOG:fastqc'
				memory = 48.GB
				cpus = 12
				time = '6h'
			}
		}
		process {
			withLabel: multiqc {
				container = 'shub://kiwiepic/FOG:multiqc'
				memory = 48.GB
			}
		}
        singularity.enabled = true
		singularity.cacheDir = "${params.wdir}/work/singularity"
    }
}
