singularity.autoMounts = true

executor{
    jobName = { "$task.tag" }
}

params {
    projectName = "fog"
    isoseq = "/nfs/scratch/rodriggu/isoseq"
    outdir = "/nfs/scratch/rodriggu/output"
}

profiles {
    standard {
        process.executor = 'local'
    }
	slurm {
		process.executor = 'slurm'
        process {
			withLabel:fastqc {
        		container = 'shub://kiwiepic/FOG:fastqc'
    		}
			withLabel: parallel	{
				memory = 48.GB
				queue = 'parallel'
			}
		}
        singularity.enabled = true
    }
}
